@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


.bordergradient {
  border: 10px solid transparent;
  border-image: linear-gradient(to right,  #A16F00, #FFCD14,#EFD693,#A16F00,#FACA08) 1;
  border-image-slice: 1;

  
}
.bggrad {
  background: #A16F00; /* fallback color */
  background: linear-gradient(to right, #A16F00, #FACA08);
}

.goldentext {
  background-color: #f3ec78;
  background-image: linear-gradient(90deg,  #A16F00, #FFCD14,#EFD693,#A16F00,#FACA08);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.gradient-text {
  background: linear-gradient( #ae6427, #d44c62);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bodyfont {
  color: #737373;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}


.outfitfont700{
  font-family: "Outfit", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 700;
  font-style: 18px;
}

.outfitfont500{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: 14px;
}


.outfitfont{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
 
}




.rightbar{
 background-color: #101010;
 /* background-color:'#101010'; */
 


}
.bg_blue {
  border-radius: 0px 20px 20px 0px;
  background: #000;
  box-shadow: 2px 4px 13px 0px #474747;
  
}

.shadow{
  box-shadow: 2px 4px 13px 0px #2b2a2a;
  ;
}

.shadowclik{
  box-shadow: 2px 4px 13px 0px #7a7979;
  ;
}

.activeButton {
  border-radius: 8px;
  /* border-left: 5.33px solid black; */
  margin-left:  10 ;

  background: black;
}


.activeButtondashboard {
  border-radius: 25px;
  /* border-right: 5.33px solid rgb(56, 56, 56); */
  margin-left:  10 ;
  font-weight: bold;

  background: black;
}

.activeButtondash {
  border-radius: 25px;
  border-right: 5.33px solid rgb(56, 56, 56);
  margin-left:  10 ;
  font-weight: bold;

  background: black;
}


.activeButtondashleft {
  border-radius: 25px;
  border-left: 5.33px solid rgb(56, 56, 56);
  margin-right:  10 ;
  font-weight: bold;

  background: black;
}

.bin_btn {
  color: #737373;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}


.dis{
  touch-action: manipulation; /* For touch devices */
  user-select: none; /* Disable text selection */
  zoom: 1; /* Reset zoom */
}


@media(min-width:1124px)and(max-width:1470px) {
  .search-icon {
    margin-left: 9%;
  }
}


@media(min-width:320px) and (max-width:640px) {
  .searchbar {
    margin-top: 0;
  }

  .bodyfont {
    display: block;
  }

  .search {
    margin-left: 10%;
  }

  .pagination {
    justify-content: center;
    width: 200px;
    margin: 0;
  }

  .tableheader {
    padding: 16px;
    margin: 0;
  }
}

@media(min-width:640px) and (max-width:1280px) {

  .overflow {
    margin-left: 10rem;
  }

  .customers_btn {
    justify-content: space-around;
    margin-left: 24%;
  }

  .dashboardStyle {
    margin-right: 20px;
  }
}

@media (min-width:600px) and (max-width:1372px) {
  .columnContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 30%;
    /* border: 1px solid black; */
  }
}

@media screen and (max-width:970px) {
  .columnContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 1px solid black; */
  }
}

@media (min-width:611px) and (max-width:758px) {

  .columnContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-left: 30%; */
    /* border: 1px solid black; */
  }
}

@media screen and (max-width:629px) {

  .columnContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* margin-left: 30%; */
    /* border: 1px solid black; */
  }
}

@media (min-width:640px) and (max-width:1167px) {
  .dashboardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    /* border: 1px solid black; */
  }
}

@media screen and (max-width:480px) {
  .dashboardContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
  }

  .trasactionTable {
    margin: 0px;
    padding: 0px;
    
  }

  .transacHistory {
    margin-top: 20px;
    
    margin-bottom: 20px;
  }

  .exportStyles {
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 40px;
  }
}




/* @media (min-width:2000px) and (max-width:4000px){
  .submit{
    margin-top:  20px;
    width: 100px;
    height: 100px;
    background-color: aquamarine;
  }
 
} */



@media (min-width:645px) and (max-width:1167px) {
  .trasactionTable {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    /* border: 1px solid black; */
  }
}

@media (min-width:440px) and (max-width:768px) {
  .dashboardContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    /* border: 1px solid black; */
  }
  .trasactionTable{
    margin-left: 20%;
    /* border: 1px solid black; */
  }
  .transacHistory{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (max-width:1167px) {
  .exportStyles {
    margin-left: 10%;
    margin-top: 10%;
    /* border: 1px solid black; */
  }
}

@media (min-width:440px) and (max-width:1024px) {
  .tableheader {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center; */
    margin-left: 20%;
    /* border: 1px solid black; */
  }
}

@media screen and (max-width:340px) {
  .customers_btn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: 800px) and (max-width: 1024px) {
  .uploadImageContainer {
    margin-left: 80%;
    width: 150%;
    margin-bottom: 40%;
    margin-top: -10%;
    height: 40%;

  }
  .uploadImageeeContainer{
    margin-left: 80%;
    width: 150%;
    margin-bottom: 40%;
    margin-top: -20%;
  }
  .productDescriptionContainer {
    margin-left: 20%;
    margin-top: -10%;
  }
  .textareaProduct{
    margin-left: 20%; 
    width: 85%;
  }
  .submitBt{
    margin-left: 20%;
    width: 20%;
  }
  .headingContainer{
    margin-left: 60%;
  }
  .imgthree{
    margin-left: 80%;
    width: 140%;
  }
  .editBtn{
    width: 30%;
    height: 10%;
    margin-top: 60%;
    margin-left: -8%;
  }
  .editHeading{
    margin-left: 20%;
  }
}

@media (min-width: 654px) and (max-width: 990px) {
  .uploadContainer {
    margin-left: 30%;
  }
  .headingContainer {
    margin-left: 7%;
  }
}

@media (min-width: 770px) and (max-width: 1050px) {
  .uploadContainer {
    margin-left: 20%;
    width: 90%;
    height: 140%;
  }
  .headingContainer {
    margin-left: 20%;
  }
}

@media (min-width: 654px) and (max-width: 768px) {
  .uploadContainer {
    margin-left: 30%;
    flex-direction: column;
    width: 90%;
  }
  .headingContainer {
    margin-left: 50%;
  }
}

@media screen and (max-width: 654px) {
  .uploadContainer {
    margin-left: -1%;
    flex-direction: column;
    width: 90%;
  }
  /* .headingContainer {
    margin-left: -1%;
  } */
}

@media (min-width: 1051px) and (max-width: 1629px) {
  /* .editContainer {
    margin-left: 7%;
    height: 140%;
  } */
  .headingEditContainer {
    margin-left: 7%;
  }
}

@media (min-width: 654px) and (max-width: 990px) {
  /* .editContainer {
    margin-left: 25%;
  } */
  .headingEditContainer {
    margin-left: 7%;
  }
}

@media (min-width: 770px) and (max-width: 1050px) {
  /* .editContainer {
    margin-left: 20%;
    width: 90%;
    height: 140%;
  } */
  .headingEditContainer {
    margin-left: 20%;
  }
  .btnContainer{
    margin-left: 30%;
    margin-top: 5%;
    width: 50%;
  }
}

@media (min-width: 654px) and (max-width: 768px) {
  /* .editContainer {
    margin-left: 30%;
    flex-direction: column;
    width: 90%;
  } */
  .headingEditContainer {
    margin-left: 50%;
  }
}

@media screen and (max-width: 654px) {
  /* .editContainer {
    margin-left: -1%;
    flex-direction: column;
    width: 90%;
  } */
  .headingEditContainer {
    margin-left: -1%;
  }
}

@media screen and (max-width: 500px) {
  .btnContainer {
    margin-top: 3%;
    flex-direction: column;
    width: 90%;
  }
}

@media (min-width: 1051px) and (max-width: 1670px) {
 
  .newProductContainer{
    margin-left: 8.5rem;
  }
}

@media (min-width: 654px) and (max-width: 990px) {
 
  .headingEditContainer {
    margin-left: 7%;
  }
}

@media (min-width: 770px) and (max-width: 1050px) {
  
  .headingEditContainer {
    margin-left: 20%;
  }
  .btnContainer{
    margin-left: 30%;
    margin-top: 5%;
    width: 50%;
  }
}

@media (min-width: 654px) and (max-width: 768px) {
 
  .headingEditContainer {
    margin-left: 50%;
  }
}

@media screen and (max-width: 654px) {
  /* .editContainer {
    margin-left: -1%;
    flex-direction: column;
    width: 90%;
  } */
  .headingEditContainer {
    margin-left: -1%;
  }
}

@media screen and (max-width: 500px) {
  .btnContainer {
    margin-top: 3%;
    flex-direction: column;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .viewProductContainer {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (min-width: 768px) and (max-width: 1240px) {
  .viewProductContainer {
    margin-left: 30%;
    flex-direction: column;
  }
}





